@tailwind base;
@tailwind components;
@tailwind utilities;





.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;

    animation: slide-down 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}